---
layout: archive
title: "Art"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

Outside of physics I enjoy engaging in traditional and digital arts. 
I really like to combine my two passions and be artistic to communicate science. Below are some of the thesis covers I have designed. 


<h2> Trapped ions in optical tweezers. </h2>

<br/><img src='/images/ions-2.jpg' width = "500" height = "300" class = "center">
<p>Illustration for a thesis cover of Matteo Mazzanti titled <a href="https://dare.uva.nl/search?identifier=a11af0b2-9b15-4621-82fb-87d451dd0391"><i>"Trapped ions in optical tweezers and their applications to quantum computing".</i></a> </p> 

<h2> </h2>

<br/><img src='/images/ions-1.jpg' width = "500" height = "300" class = "center">
<p>Artistic representation of the experimental set-up showing a vacuum chamber with an ion trap inside. </p> 


<h2> Effectively going beyond the standard model. </h2>

<br/><img src='/images/rahuls-cover.jpg' width = "500" height = "300" class = "center">
<p>Illustration for a thesis cover of Rahul Balasubramanian titled <i> "Effectively going beyond the Standard Model".</i> </p> 

<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
</style>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

